// _variables.scss

$color-primary:        #ff9800;

$color-text:           #212121;
$color-bg:             #ffffff;

$border-color:         #777777;
$border-radius:        6px;
$border-width:         1px;

$font-family-base:     'Inter', sans-serif;
$font-size-base:       1rem;
$line-height-base:     1.4;

$font-size-h1:         1.4rem;
$font-size-small:      0.775rem;

$spacer-xs:            0.25rem;
$spacer-sm:            0.5rem;
$spacer-md:            1rem;
$spacer-lg:            1.5rem;
$spacer-xl:            2rem;